@import "./bg.css";


body{
    color: green;
    padding: 0;
    margin: 0;
}

input::placeholder{ 
    color: red;
    background-color: green;
}

.rembox {
    width: 750px;
    height: 900px;
    background-color: greenyellow;
    box-sizing: border-box;
}